body
{
    position: fixed; 
    overflow-y: scroll;
    overflow: hidden;
    width: 100%;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.gui-root
{
    position: absolute;
}

.gui-text
{
    padding: 0.5rem;
}

.button
{
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.topbar
{
    background-color: rgba(0, 0, 0, 0.467);
}

.sidebar
{
    height: 100%;
}

.slider
{
    margin:0.5rem;
}

.scene
{
    width: 90%;
    height: 90%;
}